{{outlet}}
<div class="board">
  <div class="mdl-layout__header-row">
    {{model.title}}
  </div>
  {{nrOfColumns}}
  <div class="mdl-grid">
    {{#each model.columns as |column| }}
      <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
        <span class="mdl-chip mdl-chip--deletable">
            <span class="{{lowercase column}} mdl-chip__text">{{column}}</span>
            <button type="button" class="mdl-chip__action"><i class="material-icons">&#xE145;</i></button>
        </span>
      </div>
    {{/each}}
  </div>
</div>