{{outlet}}
<div class="index-page">
  {{welcome-component}}

  <div class="mdl-grid user-boards">
    {{#each model as |board|}}
      {{board-component board=board}}
    {{/each}}
  </div>

  {{new-board-modal-component createBoard='createBoard'}}
  {{spinner-component listenTo='controller'}}
</div>